@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 1em;
  font-family: 'Montserrat';
  font-size: 1rem;
  background-color: #0099ff;
  color: #fff;
  padding: 0.3em 2em;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

#video{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

p {
  font-size: 1rem;
}

button:hover {
  background-color: #0182d8;
}

button:active {
  background-color: #0663a1;
}